h2 {
  margin: 0 auto 2rem auto;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  background-color: #1b69f9;
  margin: 2rem;
}

.main-grid {
  display: grid;
  grid-template-areas:
    "temp city sky"
    "skyDisplay skyDisplay skyDisplay"
    "landscape landscape landscape";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 1rem;
}

.header__header {
  color: white;
  grid-column: span 3;
  display: flex;
  align-items: center;
  margin: 2rem auto 3rem auto;
  justify-content: center;
  gap: 1rem;
}

.header__header > h1 {
  margin-right: 2rem;
  font-size: 3em;
}

.header__city-name {
  font-style: oblique;
  font-size: 2rem;
}

.header__city-name::before,
.header__city-name::after {
  content: "✨";
}

.temperature__section {
  grid-area: temp; /* NEW */
  border-radius: 8px;
  padding: 2rem;
  background-color: white;
}

.sky__section {
  grid-area: sky;
  border-radius: 8px;
  padding: 2rem;
  background-color: white;
}

.city-name__section {
  grid-area: city;
  border-radius: 8px;
  padding: 2rem;
  background-color: white;
}

.garden__section {
  grid-area: landscape;
  text-align: center;
  align-self: center;
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: background-color 0.5s ease;
}

.sky-display__section {
  grid-area: skyDisplay; /* NEW */
  text-align: center;
  align-self: center;
  border-radius: 8px;
  padding: 2rem;
  background-color: white;
}

.temperature__section button {
  background-color: #1b69f9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.temperature__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#tempValue {
  font-size: 3rem;
  margin-left: 1.5rem;
}

.temperature__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.garden__section > h2 {
  color: black;
}

.garden__content {
  min-height: 200px;
  max-width: max-content;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  font-size: 2em;
}

.city-name__reset-btn {
  border: 0;
  background-color: #1b69f9;
  color: white;
  border-radius: 8px;
  padding: 1rem;
  font-family: "Rubik", sans-serif;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.cloudy {
  background-color: lightgrey;
}

.sunny {
  background-color: rgb(221, 255, 255);
}

.rainy {
  background-color: lightblue;
}

.snowy {
  background-color: lightsteelblue;
}

@media (max-width: 768px) {
  .main-grid {
    grid-template-areas:
      "temp"
      "city"
      "sky"
      "landscape"
      "skyDisplay";
    grid-template-columns: 1fr;
  }
}

#skySelect {
  width: 100%;
  font-size: 1.25rem;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

#cityNameInput {
  width: 100%;
  font-size: 1.25rem;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
